<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<!-- 관리용 게시판 정보 입력 -->
	<insert id="makeBoard" parameterType="com.pluckit.app.dto.BoardDTO">
		INSERT INTO board (
			b_id, 
			dept_id, 
			b_writer, 
			b_title, 
			b_readAuth, 
			b_writeAuth, 
			b_replyAuth, 
			b_downAuth, 
			b_regdate
		) VALUES (
			#{b_id}, 
			#{dept_id}, 
			#{b_writer}, 
			#{b_title}, 
			#{b_readAuth}, 
			#{b_writeAuth}, 
			#{b_replyAuth}, 
			#{b_downAuth}, 
			NOW()
		)
	</insert>
	
	<!-- 생성된 게시판 목록 가져오기 -->
	<select id="getAllBoardList" resultType="com.pluckit.app.dto.BoardDTO" parameterType="HashMap">
		SELECT 
			b.b_id, 
			d.dept_name AS deptName, 
			b.b_writer, 
			b.b_title, 
			b.b_readAuth, 
			b.b_writeAuth, 
			b.b_replyAuth, 
			b.b_downAuth, 
			b.b_regdate
		FROM 
			board AS b
		LEFT JOIN 
			department AS d
		ON 
			b.dept_id = d.dept_id
		ORDER BY 
			b.b_regdate DESC
		LIMIT 
			${offset}, ${pageSize}
	</select>
	
	<!-- 새로운 게시판 본문 테이블 생성하기 -->
	<insert id="createMainTable" parameterType="HashMap">
		${main}
	</insert>
	
	<!-- 새로운 게시판 댓글 테이블 생성하기 -->
	<insert id="createReplyTable" parameterType="HashMap">
		${reply}
	</insert>
	
	<!-- 게시판 코드 중복 체크하기 -->
	<select id="isBIdExist" parameterType="String" resultType="int">
		SELECT 
			COUNT(b_id) 
		FROM 
			board 
		WHERE 
			b_id = #{bId}
	</select>
	
	<!-- 수정할 게시판 정보 가져오기 -->
	<select id="getBoardInfo" parameterType="String" resultType="com.pluckit.app.dto.BoardDTO">
		SELECT 
			b_id, 
			dept_id, 
			b_writer, 
			b_title, 
			b_readAuth, 
			b_writeAuth, 
			b_replyAuth, 
			b_downAuth 
		FROM 
			board 
		WHERE 
			b_id = #{bId}
	</select>
	
	<!-- 게시판 정보 수정하기 -->
	<update id="updateBoardInfo" parameterType="com.pluckit.app.dto.BoardDTO">
		UPDATE board 
		SET 
			dept_id = #{dept_id}, 
			b_title = #{b_title}, 
			b_readAuth = #{b_readAuth}, 
			b_writeAuth = #{b_writeAuth}, 
			b_replyAuth = #{b_replyAuth}, 
			b_downAuth = #{b_downAuth}, 
			b_regdate = NOW() 
		WHERE 
			b_id = #{b_id}
	</update>
	
	<!-- 삭제할 게시판 내에 데이터 존재 유무 확인 -->
	<select id="isBoardDataExist" parameterType="String" resultType="int">
		SELECT 
			COUNT(bm_num) 
		FROM 
			${value}
	</select>
	
	<!-- 댓글 게시판 삭제 -->
	<insert id="dropReplyTable" parameterType="HashMap">
		${reply}
	</insert>
	
	<!-- 본문 게시판 삭제 -->
	<insert id="dropMaintable" parameterType="HashMap">
		${main}
	</insert>
	
	<!-- 게시판 정보 삭제 -->
	<delete id="deleteBoardInfo" parameterType="String">
		DELETE FROM board 
		WHERE 
			b_id = #{bId}
	</delete>
	
	<!-- 게시판 검색 리스트 -->
	<select id="searchBoardList" parameterType="HashMap" resultType="com.pluckit.app.dto.BoardDTO">
		SELECT 
			b.b_id, 
			d.dept_name AS deptName, 
			b.b_writer, 
			b.b_title, 
			b.b_readAuth, 
			b.b_writeAuth, 
			b.b_replyAuth, 
			b.b_downAuth, 
			b.b_regdate
		FROM 
			board AS b
		LEFT JOIN 
			department AS d
		ON 
			b.dept_id = d.dept_id
		WHERE 
			${select} LIKE CONCAT('%', #{search}, '%')
		ORDER BY 
			b.b_regdate DESC
		LIMIT 
			${offset}, ${pageSize}
	</select>
	
	<!-- 게시판 총 개수 -->
	<select id="getAllBoardCount" resultType="int">
		SELECT 
			COUNT(b_id) 
		FROM board
	</select>
	
	<!-- 게시판 검색 리스트 총 개수 -->
	<select id="getSearchBoardCount" parameterType="HashMap" resultType="int">
		SELECT 
			COUNT(b.b_id)
		FROM 
			board AS b
		LEFT JOIN 
			department AS d
		ON 
			b.dept_id = d.dept_id
		WHERE 
			${select} LIKE CONCAT('%', #{search}, '%')
	</select>
	
</mapper>