<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<!-- 게시판 제목 목록 가져오기 (일반 권한) -->
	<select id="getAllBoardTitleUser" parameterType="String" resultType="com.pluckit.app.dto.BoardDTO">
		SELECT 
			b.b_id, b.b_title
		FROM 
			board AS b
		LEFT JOIN 
			department AS d
		ON 
			b.dept_id = d.dept_id
		WHERE 
			d.dept_name IN(#{deptName})
		AND NOT 
			b.b_id IN('notice')
		ORDER BY 
			b_regdate
	</select>
	
	<!-- 게시판 제목 목록 가져오기 (관리자 권한) -->
	<select id="getAllBoardTitleAdmin" resultType="com.pluckit.app.dto.BoardDTO">
		SELECT 
			b_id, 
			b_title 
		FROM 
			board 
		WHERE NOT 
			b_id IN('notice') 
		ORDER BY 
			b_regdate
	</select>
		
	<!-- 게시판 제목 가져오기 -->
	<select id="getBoardTitle" parameterType="String" resultType="String">
		SELECT 
			b_title 
		FROM 
			board 
		WHERE 
			b_id = #{pageName}
	</select>
	
	<!-- 게시글 입력 -->
	<insert id="writePostProc" parameterType="HashMap">
		INSERT INTO board_main_${b_id} 
		SET 
			b_id = #{b_id},
			bm_title = #{bm_title},
			bm_writer = #{bm_writer},
			bm_content = #{bm_content},
			bm_regdate = NOW(),
			bm_file = #{bm_file},
			bm_savedfile = #{bm_savedfile},
			bm_filepath = #{bm_filepath},
			bm_hit = 0
	</insert>
	
	<!-- 게시글 목록 가져오기 -->
	<select id="getAllBoardList" parameterType="HashMap" resultType="com.pluckit.app.dto.BoardMainDTO">
		SELECT 
			bm_num,
			b_id,
			bm_title,
			bm_writer,
			bm_content,
			bm_regdate,
			bm_hit,
			bm_file,
			bm_savedfile,
			bm_filepath,
			bm_grpnum,
			bm_grpord,
			bm_grpdepth
		FROM 
			board_main_${pageName}
		ORDER BY
			bm_num DESC
		LIMIT
			${offset}, ${pageSize}
	</select>
	
	<!-- 게시글 개수 가져오기 -->
	<select id="getAllBoardCount" parameterType="String" resultType="int">
		SELECT 
			COUNT(bm_num) 
		FROM 
			board_main_${value}
	</select>
	
	
	
	
	
</mapper>